@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

/* 폰트 - 아스타산스 */
@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

:root {
  --background: #f9f9f9;
}

.dark {
  --background: #323232;
}

body {
  background: var(--background);
  font-family: AstaSans, Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
